.header_bg_edit{
    background-size: contain;
  }
  span.eleven_mock {
    color: #333333;
    font-weight: 900;
    font-size: 32px;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}
  span.eleven_mock_footer {
    color: #ffffff;
    font-weight: 900;
    font-size: 32px;
}
.header-5 #header-wrap .navbar-light .navbar-nav .nav-link.active, .header-5 #header-wrap .navbar-light .navbar-nav .nav-link:focus, .header-5 #header-wrap .navbar-light .navbar-nav .nav-link:hover, .header-5 #header-wrap .navbar-light .navbar-nav .show > .nav-link {
    background: #ffffff;
}
.header-5 #header-wrap .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #333333;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 2.8rem;
    border-right: 1px solid rgba(255,255,255,0.1);
    padding: 0px 16px;
}
.hot-deal-1 .myDIV i {
    font-size: 30px;
    background: #007bff;
    padding: 15px;
    color: #fff;
    border-radius: 999px;
    animation: heartBeat 1.3s infinite running;
}
.main_header_title {
    position: relative;
    top: 30%;
    text-align: center;
}
.main_header_title>h4 {
    
    color: #ffffff;
    font-weight: 800;
    font-size: 34px;
}
.main_header_title>p {
    color: rgba(255,255,255, 0.92);
    font-weight: 500;
}
.banner-slider .owl-carousel, .banner-slider .owl-stage-outer, .banner-slider .owl-stage, .banner-slider .owl-item, .banner-slider .item {
    height: 400px;
}
.bg-light-2 {
    background-color: rgba(181, 176, 244, 0.44);
}
.d-flex>div>h6 {
    font-size: 11px;
    font-weight: 800;
}
p.mb-0.text-grey-dark {
    font-size: 13px;
}
.col-md-12.htw_text {
    text-align: center;
}
.col-md-12.htw_text>p {
    font-weight: 500;
    color: #333333;
    font-size: 16px;
    font-family: Poppins;
}
.col-lg-4.col-md-12.position-relative.z-index-1 {
    padding: 14px;
    margin-top: 37px;
    border-radius: 3px;
    box-shadow: 0 10px 55px 5px rgba(0, 0, 0, .15);
}
.col-lg-4.col-md-12.position-relative.z-index-1>h6 {
    font-size: 14px;
    font-weight: 700;
}
.col-lg-4.col-md-12.position-relative.z-index-1>h5 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
}
.header-5 .cart-d {
    padding: 0px 5px;
    background: #333333;
    border: 1px solid #333333;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    height: 3rem;
    font-weight: 300;
    font-size: 14px;
}
.header_banner {
    margin-top: 57px;
    padding-left: 75px;
}
.header_banner>h1 {
    font-size: 47px;
    font-family: Poppins;
    line-height: 60px;
}
.header_banner>p {
    font-family: Poppins;
    font-weight: 500;
    margin-top: 27px;
    color: #555555;
    font-size: 17px;
}
.main5_logo{
  width: 170px;
    height: 57px;
}
img.footer-logo.img-fluid {
    width: 211px;
}
img.img-fluid.mobile-logo {
    width: 172px;
    height: 47px;
}